name: Build and deploy of EventClean
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build project
        run: mvn clean package

      - name: Store Arctifact
        uses: actions/upload-artifact@v4
        with:
          name: myapp-jar
          path: target/*.jar